.Container {
  background-color: rgba(129, 121, 121, 0.438);
  height: 30vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quote {
  display: flex;
  align-items: center;
  font-size: 50px;
}
